*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #000000;
    color: aliceblue;
}
nav{
    background-color: chocolate;
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: chocolate;
    transition: 0.2s ease-in;
}
nav ul a:hover{
    background-color: chocolate;
    color: aliceblue;
}
h1{
    text-align: center;
    color: chocolate;
    padding: 20px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;

}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transform: 0.2s ease;
}
.item img:hover{
    transform: scale(1.08);
}
.item h4 {
    padding: 5px;
    text-align: center;
}
.order{
    text-decoration: none;
    width: 120px;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color:chocolate;
    color: aliceblue;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    display: block;
    margin: 0 auto ;
    transition: 0.2s all;

}
.order:hover{
    transform: scale(1.08);
}

@media screen and (max-width:1000px) {
    .items{
        grid-template-columns:repeat(2,1fr);
    }
}
@media screen and (max-width:768px) {
    .items{
        grid-template-columns:repeat(1,1fr);
    }
}