body {  
          margin: 0;  
          padding: 0;  
          height: 100vh;  
          background-image: url('./img/welcome-bg.jpg'); 
          background-size: cover;  
          display: flex;  
          justify-content: center;  
          align-items: center;  
      }  
      
      .wrapper {
        width: 420px;
        border: 2px solid rgb( 255, 255, 255, .2);
        backdrop-filter:blur(20px);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        border-radius: 10px;
        padding: 30px 40px;  
    }
      
      

      
      label {  
          font-weight: bold;  
          margin-top: 10px;  
      }  
      
      input {  
          width: 100%;  
          padding: 10px;  
          margin-top: 5px;  
          border: 1px solid #ccc;  
          border-radius: 4px;
          background: transparent;
          border-radius: 40px;  
      }  
      






      
      button {  
          width: 100%;  
          padding: 10px;
          background-color: #f6762c;  
          border: none;  
          border-radius: 20px;  
          color: white;  
          font-weight: bold;  
          cursor: pointer;
          margin-top: 15px;  
      }  
      
      button:hover {  
          
          background-color: #ff8c00;  
      }
      .btn{
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;

          width: 165px;
          height: 50px;

          font-weight: 500;
          font-size: 16px;
          text-transform: uppercase;

          background-color: #f6762c;
          border-radius: 5px;

          text-align: center;
          transition: opacity 0.3s;
}
.wrapper .btn{
          width: 100%;
          height: 45px;
          background: #f6762c;
          border: none;
          outline: none;
          border-radius: 40px;
          box-shadow: 0 0 10px rgb(0, 0, 0, .1);
          cursor: pointer;
          font-size: 16px;
          color: #333;
          font-weight: 600;
          margin-top: 20px;
}
